:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: rgb(170, 92, 219);
  --white: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-heading: hsla(0, 0%, 100%, 0.6);
  --black: hsl(0, 0%, 0%);
}

html {
  font-size: 100%;
  box-sizing: border-box;
  /* color: #aa5cdb; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5.625rem 10.3125rem;
  font-family: "Inter", sans-serif;
  background-color: var(--main-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Helper class */
.display-b {
  display: block;
}

.accent {
  color: var(--accent);
}

.font-l {
  font-size: 1.25rem;
}
/* Helper class */

.card {
  display: grid;
  grid-template-columns: 53% 47%;
  grid-template-rows: auto;
  grid-template-areas: "card-body card-image";
  border-radius: 0.5rem;
  overflow: hidden;
  color: var(--white);
}

.card-body {
  grid-area: card-body;
  height: auto;
  padding: 4.0625rem 4.375rem;
  background-color: var(--card-bg);
}

.main-paragraph {
  margin-top: 1.875rem;
  color: var(--main-paragraph);
}

.body-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.stat-heading {
  display: block;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: var(--stat-heading);
  letter-spacing: 0.0625rem;
}

/* .card-image-header {
  grid-area: card-image;
  background-image: url(images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
} */

.image-wrapper {
  background-color: var(--accent);
  display: flex;
  flex: 1 1 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.card-image-header {
  grid-area: card-image;
  filter: grayscale(100%) contrast(1) blur(0px);
  flex: 1 0 100%;
  height: 100%;
  max-width: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
  opacity: 1;
  position: relative;
  width: 100%;
}

.image-wrapper::before {
  content: "";
  background-color: var(--black);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0%;
  height: 100%;
  mix-blend-mode: lighten;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.attribution {
  margin-top: 1.875rem;
  font-size: 0.6875rem;
  text-align: center;
  color: var(--white);
}

/* Media queries for responsiveness */
@media (max-width: 64em) {
  body {
    align-items: center;
    padding: 5.4375rem 0;
  }
  .card {
    grid-template-columns: 20.5625rem;
    grid-template-rows: 15rem auto;
    grid-template-areas:
      "card-image"
      "card-body";
    text-align: center;
  }
  .card-body {
    padding: 2.8125rem 2.125rem;
  }
  .main-paragraph {
    margin-top: 1.3125rem;
  }
  .body-stats {
    display: block;
    margin-top: 0;
  }
  .stat-mt {
    margin-top: 2.1875rem;
  }
  .card-image-header {
    grid-area: card-image;
    width: 100%;
    height: 100%;
  }
}
/* Media queries for responsiveness */
